@import '../tree-menu.component.scss';

i.icon {
  width: 24px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #666672cc;
  border-left: 3px solid #f6f7f9;
  padding-left: 6px;
  &:hover {
    color: #464652;
    &.level-0 {
      border-left: 3px solid #464652cc;
    }
  }
}
