@import '../shared/header.common.scss';

li {
  margin: 0 4px;
  a {
    padding: 8px 10px;
    width: 40px;
    height: 36px;
  }
}

.nav-item.has-notified, .nav-link.has-notified {
  position: relative;
}
.nav-item.has-notified:before, .nav-link.has-notified:before {
  position: absolute;
  top: .5rem;
  right: .75rem;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #f7c46c;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.dropdown-menu {
  margin-top: 10px;
  border: 0;
  font-weight: 400;
  box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 2px 7px 1px rgba(20,20,31,.16);

  &.dropdown-menu-right {
    right: 0;
    left: auto;
  }

  // &.show {
  //   -webkit-animation-name: showDropdown;
  //   animation-name: showDropdown;
  // }
}

.dropdown-menu-rich {
  padding: 0;
  width: 20rem;
}
