<div class="header-nav-container">
  <ul class="header-nav nav ">
    <li class="nav-item dropdown header-nav-dropdown has-notified show">
      <a class="nav-link text-light lighter-hover-bg rounded" href="#" title="Activities">
        <span class="fas fa-signature"></span>
      </a>
    </li>
    <li class="nav-item dropdown header-nav-dropdown has-notified show">
      <a class="nav-link text-light lighter-hover-bg rounded" href="#" title="Emails">
        <span class="far fa-envelope-open"></span>
      </a>
    </li>
    <li class="nav-item dropdown header-nav-dropdown show">
      <a class="nav-link text-light lighter-hover-bg rounded" href="#" title="Modules"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fas fa-th"></span>
      </a>
      <app-dropdown-container>
        <app-dropdown-sheets [sheets]="sheets"></app-dropdown-sheets>
      </app-dropdown-container>
    </li>
  </ul>
</div>
