<div class="tm-node {{ active ? 'active' : '' }} level-{{node.level}}">
  <a href="{{ node.url }}" *ngIf="!hasChildren">
    <ng-container *ngIf="node.level > 1">
      <span *ngFor="let item of array(node.level - 1)">&nbsp;&nbsp;</span>
    </ng-container>
    <i class="{{ node.icon }}">&nbsp;</i>
    {{ node.displayName }}
  </a>

  <ng-container *ngIf="hasChildren">
    <a href="{{ node.url }}" data-toggle="collapse" aria-expanded="false">
      <ng-container *ngIf="node.level > 1">
        <span *ngFor="let item of array(node.level - 1)">&nbsp;&nbsp;</span>
      </ng-container>
      <i class="{{ node.icon }}">&nbsp;</i>
      {{ node.displayName }}
    </a>
    <ng-content></ng-content>
  </ng-container>
</div>
