@import 'app/_variables.scss';

#sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  background: $app-primary;
  color: var(--white);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: 0;
}


a[data-toggle="collapse"] {
  position: relative;
}


/* ---------------------------------------------------
    OVERLAY
----------------------------------------------------- */
.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.3);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}
