@import 'app/_variables';
@import 'app/_mixins';

ul {
  margin-top: 8px;
  padding: 0;
}

li {
  padding: 0 8px;
}

li {
  min-height: 32px;
}

.menu-glyph[aria-expanded="true"] i {
  @include rotate-deg(90deg);
  transition: all .5s;
}
.menu-glyph[aria-expanded="false"] i {
  transition: all .5s;
}
.height-animation {
  @include height-animation;
}
