@import 'app/_variables';
@import 'app/_mixins';

ul, li {
  padding: 8px;
}

li {
  height: 28px;
}

.menu-glyph[aria-expanded="true"] i {
  @include rotate-deg(90deg);
  transition: all .5s;
}
.menu-glyph[aria-expanded="false"] i {
  transition: all .5s;
}
.height-animation {
  @include height-animation;
}
