@mixin height-animation {
  transition: height .5s;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
}

@mixin rotate-deg($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
}
