$app-u5: 5px;
$app-u4: 4px;

$app-primary: #315893;
$app-primary-menu: #2f4f80;
$app-bg-primary: #3B629D;
$app-nav-bg: #f8f8f8;
$app-nav-bg-hover: #e9e9e9;
$app-toggle-primary: #004B88;

$app-white: #fff;
