@import './variables';
@import './_media';

/**
 * Set the Footer sticky to the bottom
 *  1. keep the bottom if the content is too short
 *  2. scroll together with the main contents if the content is long
 */


html, body {
  height: 100%;
  background-color: $bg-body;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Fira Sans,Helvetica Neue,Apple Color Emoji,sans-serif;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height;
  padding-top: $header-height;
  @include xsmall-screen {
    margin-bottom: -$footer-height-mobile;
  }

  &:after {
    content: "";
    display: block;
  }
}

footer, .page-wrap:after {
  height: $footer-height;
  @include xsmall-screen {
    height: $footer-height-mobile;
  }
}

.light-theme {
  background-color: #fff;
}

.light-theme .navbar-social .nav-link  {
  color: var(--blue);
}

.text-sm {
  font-size: 12px;
}

.cursor-pointer, a {
  cursor: pointer;
}

.bg-indigo { background-color: #346cb0!important; }
.bg-teal { background-color: #00a28a!important; }
.bg-pink { background-color: #b76ba3!important; }
.bg-yellow { background-color: #f7c46c!important; }
.bg-cyan { background-color: #3686a0!important; }


